.l-content {
  position: static;
  z-index: 1;

  width: 100%;

  background-color: white;

  @include respond-to('initialize') {
  }
  @include respond-to('medium') {
  }
  @include respond-to('large') {
  }
}
