/**
 * Section block
 */

section,
.l-section {
  position: static;
  z-index: 1;

  width: 100%;

  @include respond-to('initialize') {
  }
  @include respond-to('medium') {
  }
  @include respond-to('large') {
  }
}
