/**
 * Components
 */

// @import './example/_example';

@import './navigation/_navigation';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
}

.c-post {}

.c-post-head {
  display: flex;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  min-height: 400px;
  max-height: 400px;

  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.c-post-head__title {
  font-size: 6rem;

  color: #ffffff;
}

.c-post-body {
  padding: 64px 0;
}

.c-section {
  padding: 32px 0;
}

.c-container {
  display: flex;
}

.c-container--card {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.c-post-card {
  overflow: hidden;

  width: 50%;
  max-width: 250px;
  margin-bottom: 32px;

  border-radius: 4px;
  box-shadow: 0 0 29px -5px rgba(0, 0, 0, 0.38);
}

.c-post-card__head {
  overflow: hidden;

  height: 100px;
}

.c-post-card__body {
  font-weight: 800;

  padding: 16px 8px;

  color: #000000;
}

.c-page {
  padding: 0;
}

.c-page--padded-top {
  padding-top: 64px;
}
