@import url(https://fonts.googleapis.com/css?family=Arimo);/**
 *  Project SCSS
 *  Use npm scripts to compile
 */

/* base */

/**
 *  Base imports
 *  Styles that normalize the fromt-end state
 */

/**
 *  Reset Html5Doctor v1.6.1
 *  Author: Richard Clark
 */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

ins {
  text-decoration: none;
  color: #000000;
  background-color: #ffff99;
}

mark {
  font-weight: bold;
  font-style: italic;
  color: #000000;
  background-color: #ffff99;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #cccccc;
}

input,
select {
  vertical-align: middle;
}

/**
 *  Mixins
 */

/**
 * Media Queries for Sized
 *
 * @include respond-to() {}
 *
 */

/**
 * Media Queries for Features
 *
 * @include feature-to() {}
 *
 */

/**
 * Other
 */

/**
 *  Helpers
 */

.hide {
  display: none;
}

.centered-abs-v {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centered-abs-h {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.centered-abs-vh {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.all-space-abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.no-appearance,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/**
 * Color
 */

/**
 *  Fonts
 */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arimo", sans-serif;
}

p,
a,
ul,
ol,
li {
  font-family: "Arimo", sans-serif;
}

/**
 *  Element defaults
 */

body {
  font-weight: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.pure-form input[type=text][disabled],
.pure-form input[type=password][disabled],
.pure-form input[type=email][disabled],
.pure-form input[type=url][disabled],
.pure-form input[type=date][disabled],
.pure-form input[type=month][disabled],
.pure-form input[type=time][disabled],
.pure-form input[type=datetime][disabled],
.pure-form input[type=datetime-local][disabled],
.pure-form input[type=week][disabled],
.pure-form input[type=number][disabled],
.pure-form input[type=search][disabled],
.pure-form input[type=tel][disabled],
.pure-form input[type=color][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  opacity: 0.4;
  -moz-opacity: 0.4;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0 0;
}

ul {
  list-style-type: none;
}

input,
button,
textarea {
  outline: none;
}

/* Here you can add default styles to forms elements, text elements and such */

.c-product-list {
  padding-top: 100px;
  padding-bottom: 160px;
}

.c-product {
  min-width: 320px;
  margin-bottom: 32px;
  background-color: red;
}

.c-product__image {
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  background-color: white;
}

.c-product__image img {
  width: 100%;
  max-width: 300px;
  background-color: white;
}

@media only screen and (min-width: 1px) {
  .c-product__image img {
    max-width: 568px;
    width: 100%;
  }
}

@media only screen and (min-width: 48em) {
  .c-product__image img {
    max-width: 568px;
    max-height: 568px;
    width: auto;
  }
}

@media only screen and (min-width: 64em) {
  .c-product__image img {
    max-width: 568px;
    max-height: 568px;
    width: auto;
  }
}

.c-product__details {
  background-color: #e6e7e9;
}

.c-product__details_container {
  max-width: 480px;
  margin: 0 auto;
  padding: 16px 16px 12px;
}

.c-product__details_name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
}

.c-product__details_serial {
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
}

.c-product__details_price {
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 4px;
  text-align: center;
}

.c-product span.discount {
  font-size: 20px;
  font-weight: 600;
}

.c-product-home {
  min-height: 500px;
  padding-top: 100px;
  background-color: #e6e7e9;
}

.c-product-home__message {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity ease-in-out 0.6s;
  transition: opacity ease-in-out 0.6s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
}

/* layout */

/**
 * Layout
 * Styles to give layout
 */

/**
 *  Offcanvas
 */

.l-offcanvas {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 1800px;
  background-color: white;
}

@media only screen and (min-width: 1px) {
  .l-offcanvas {
    padding-top: 0;
  }
}

@media only screen and (min-width: 48em) {
  .l-offcanvas {
    padding-top: 0;
  }
}

@media only screen and (min-width: 64em) {
  .l-offcanvas {
    padding-top: 0;
  }
}

/**
 * Wrapper variables
 */

/**
 * Wrapper
 */

.l-wrapper {
  position: static;
  overflow: visible;
  width: 100%;
  margin: 0 auto;
  /**
   * Modifiers
   */
}

@media only screen and (min-width: 1px) {
  .l-wrapper {
    max-width: 100%;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 48em) {
  .l-wrapper {
    max-width: 1000px;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 64em) {
  .l-wrapper {
    padding: 0 16px;
  }
}

@media only screen and (min-width: 48em) {
  .l-wrapper--min {
    max-width: 744px;
  }
}

@media only screen and (min-width: 48em) {
  .l-wrapper--max {
    max-width: 1256px;
  }
}

.l-wrapper--edge-mob {
  padding: 0;
}

@media only screen and (min-width: 48em) {
  .l-wrapper--edge-mob {
    padding: 0 16px;
  }
}

/**
 * Section block
 */

section,
.l-section {
  position: static;
  z-index: 1;
  width: 100%;
}

.l-content {
  position: static;
  z-index: 1;
  width: 100%;
  background-color: white;
}

/**
 * Header
 */

.l-nav-header {
  z-index: 3;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  background: black;
}

@media only screen and (min-width: 1px) {
  .l-nav-header {
    height: 80px;
  }
}

@media only screen and (min-width: 48em) {
  .l-nav-header {
    height: 76px;
  }
}

@media only screen and (min-width: 64em) {
  .l-nav-header {
    height: 76px;
  }
}

/**
 * Nav
 */

/**
 * Footer
 */

.l-footer {
  z-index: 1;
  width: 100%;
}

/* UI */

/**
 * Vendor
 */

/* modules */

/**
 * Components
 */

img {
  max-width: 100%;
}

.c-navigation {
  width: 100%;
  height: 64px;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-navigation__logo {
  width: 64px;
  height: 64px;
  background-color: #E53A40;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M5 12c0-2.896 1.01-3.553 4-7h6c3.076 3.55 4 4.083 4 7v10c0 1.105-.895 2-2 2h-10c-1.105 0-2-.895-2-2v-10zm12 0h-10v8h10v-8zm-4 3h2v2h-2v2h-2v-2h-2v-2h2v-2h2v2zm3-11h-8v-3c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v3z'/%3E%3C/svg%3E");
  overflow: hidden;
}

.c-navigation__menu {
  width: 100%;
  background-color: white;
  min-height: 32px;
  opacity: 0.2;
}

.c-post-head {
  max-height: 400px;
  min-height: 400px;
  overflow: hidden;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.c-post-head__title {
  color: #fff;
  font-size: 6rem;
}

.c-post-body {
  padding: 64px 0;
}

.c-page {
  padding-top: 64px;
}

/* variables */

